:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #0c0c0c;
  background-color: #f2f2f2;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #0043fd;
  text-decoration: inherit;
}
a:hover {
  color: #ff3bb1;
  cursor: pointer;
  text-decoration: underline;
}

body {
  min-width: 100vw !important;
  max-width: 100vw !important;
  min-height: 100vh !important;
  max-height: 100vh !important;
  margin: 0;
}

/* font */
@font-face {
  font-family: font;
  src: url(@/assets/fonts/font.ttf);
}

.my-font {
  font-family: "font";
}
/* end of font */

.q-toolbar {
  min-height: 2em !important;
}

/* container */
.full-container {
  background-color: #f6d4bf;
  height: 100%; /* Full height */
  max-height: calc(100vh - 2.5em) !important;
  min-height: calc(100vh - 2.5em) !important;
  padding: 0 !important;
  overflow-y: auto;
}

.left-container,
.right-container {
  max-height: calc(100vh - 7.5em) !important;
  min-height: calc(100vh - 7.5em) !important;
  padding: 0 !important;
}

.main-container {
  background-color: #ffe0cd;
  height: 100%; /* Full height */
  /* max-height: calc(100vh - 7.5em) !important; */
  min-height: calc(100vh - 7.5em) !important;
  padding: 0 !important;
}

.left-container {
  background-color: #ffe0cd;
  display: flex;
  flex-direction: column; /* Stack category and item container vertically */
  height: 100%; /* Full height */
}

.right-container {
  background-color: #edd0bd;
  min-height: 100%;
}

.transactions-tab .right-container {
  padding: 2em !important;
  overflow-y: auto;
}

.instructions-tab .right-container,
.instructions-tab .left-container {
  padding: 1em !important;
}
/* end of containers */

/* category container */
.category-container {
  padding: 1em 1em 1em 1em !important;
  flex-shrink: 0;
}

.cat-btn {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  background-color: #eab99a;
  color: #1d0b00;
  border: 1.5px solid #b8947e;
}

.category-stepper .q-stepper__header {
  height: 5em;
}

/* .category-stepper .cat-step .q-ripple {
  height: auto !important;
} */

.category-stepper .q-stepper__tab {
  padding: 0.5em !important;
}

.category-stepper .q-stepper__step-inner {
  padding: 0 !important;
}

/* end of category container */

/* search container */
.q-field__append.q-field__marginal.row.no-wrap.items-center {
  height: auto;
}

.search-container {
  padding: 0 0 0 0 !important;
  display: flex;
  justify-content: flex-end;
}

.search-input {
  background-color: #ffffff;
}

.date-input {
  background-color: #ffffff;
}
/* end of search container */

.item-container {
  padding: 1em 1em 1em 1em !important;
  background-color: #e6bba0 !important;
  overflow-y: auto; /* Enable vertical scrolling */
  height: 100%;
}

.individual-item .item-btn {
  min-height: 6em !important;
}

.item-name {
  line-height: 1.5em;
}

/* item dialog */
.item-dialog {
  min-width: 90vw !important;
  max-width: 90vw !important;
  min-height: 90vh !important;
  max-height: 90vh !important;
}

.item-toolbar {
  background-color: #c09f8b;
  height: 3em;
}

.item-counter-buttons {
  max-width: 1em !important;
  background-color: #c09f8b;
  border-radius: 5px;
}

.item-counter-input {
  width: 4em;
  background-color: #f2f2f2;
  border-radius: 5px;
  text-align: center;
}

.left-item-dialog {
  background-color: #ffe3d2;
  max-height: 85vh;
  overflow-y: auto;
  padding: 1em;
}

.right-item-dialog {
  background-color: #edd0bd;
  max-height: 85vh;
  overflow-y: auto;
  padding: 1em;
}

.item-container-dialog {
  padding: 0;
}

.dialog-close {
  padding-bottom: 0.5em;
}

/* size */
.size-input {
  width: 4em;
  margin: 3px 5px 3px 10px;
}

/* transaction table */
.transaction-table {
  background-color: #fff1e9;
  margin-top: 1em;
}

.row-col-header {
  background-color: #c09f8b;
  color: #ffffff;
  /* padding-top: 0.5em;
  padding-bottom: 0.5em; */
  font-weight: 600;
  text-transform: uppercase;
}

.row-col-header > .header-bordered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row-col-footer {
  background-color: #d5b5a1;
}

.row-col-body {
  min-height: 1em;
}

.row-col-row {
  border-bottom-style: solid;
  border-width: 3px;
  border-color: #c09f8b;
  padding-top: 2px;
  padding-bottom: 2px;
}

.header-bordered {
  border-right: 1px solid #ddd;
  border-color: #f3d8c7;
  padding: 8px;
}

.header-bordered:last-child {
  border-right: none; /* Remove border for the last column */
}

.bordered {
  border-right: 1px solid #ddd;
  border-color: #c09f8b;
  padding: 8px;
}

.bordered:last-child {
  border-right: none; /* Remove border for the last column */
}

.tab-bordered {
  border-right: 1px solid #ddd;
  border-color: #b4b4b4;
  padding: 8px;
}

.tab-bordered:last-child {
  border-right: none; /* Remove border for the last column */
}

.tab-header {
  background-color: #fff1e6;
  border-color: #3a879c !important;
  /* border: solid;
  border-width: 2px; */
  color: #126278;
  margin-bottom: 5px;
}

.active-tab {
  color: #fff;
  background-color: #3a879c !important;
}

.tab-divider {
  border: solid;
  border-width: 0 4px 0 0;
  border-color: #f6d4bf;
}

.tab-divider:last-child {
  border: solid;
  border-width: 0 0 0 0;
}

.generate-card {
  background-color: #dcbeab;
  padding: 1em;
}

mark {
  background-color: #c58d6b;
  color: black;
}

mark-pink {
  background-color: #ffa9d5;
  color: black;
}

mark-blue {
  background-color: #a9caff;
  color: black;
}
.mark-brown {
  background-color: #f9ce96;
  color: black;
  font-weight: 800;
  padding-right: 5px;
  padding-left: 5px;
}
.mark-yellow {
  background-color: #ffdc12;
  color: black;
  font-weight: 600;
  padding-right: 5px;
  padding-left: 5px;
}

.mark-green {
  background-color: #34f086;
  color: black;
  font-weight: 600;
  padding-right: 5px;
  padding-left: 5px;
}

.mark-red {
  background-color: #ff8b8b;
  color: black;
  font-weight: 600;
  padding-right: 5px;
  padding-left: 5px;
}

.mark-bg-pink {
  background-color: #ffa9d5;
}

.mark-bg-blue {
  background-color: #a9caff;
}

.mark-bg-green {
  background-color: #a7fd65;
}

.mark-bg-red {
  background-color: #f26767;
}

/* instruction card */
.card1,
.card2 {
  background-color: #fff2e9;
  padding: 1em;
}

.card3,
.card4 {
  background-color: #ffe7d8;
  padding: 1em;
}

.instructions-desc {
  min-height: 5em !important;
}

textarea {
  resize: none;
}

.instructions-tab .left-container,
.instructions-tab .right-container {
  overflow-y: auto;
}

.summary-table {
  width: 100vw;
}

.summary-card {
  background-color: #fff2e9;
  padding: 1em;
  margin: 1em;
  min-height: 100%;
}

.summary-table {
  border-style: solid;
  border-width: 1em;
  border-color: #edd0bd;
}

.review-tab {
  background-color: #ffe0cd;
  min-height: calc(100vh - 7.5em) !important;
  padding: 1em !important;
}

/* customer tab */

.customer-tab .right-container,
.customer-tab .left-container {
  overflow-y: auto;
  padding: 2em !important;
}
.customer-header {
  font-weight: bold;
  background-color: #dcb89c;
  padding: 1em;
}
.customer-row {
  padding: 1em;
  border-bottom: 1px solid #dbb79c;
  cursor: pointer;
}
.customer-row:hover {
  background-color: #fbdec7;
}

.customer-list {
  background-color: #fff1e6;
}

.customer-card {
  background-color: #fff1e6;
}
.q-separator {
  background-color: #dbb79c;
}

.contact-persons-management {
  min-height: 100vh !important;
}

.row-col-table {
  /* background-color: #fff1e6; */
  background-color: #ffffff;
}

.text-link {
  color: #007bff;
  cursor: pointer;
  text-decoration: underline;
}

.text-summary {
  text-decoration: underline;
  font-weight: bold;
  padding-left: 0.5em;
}

.summary-card-header {
  margin: 1em;
  padding: 1em;
  background-color: #fff1e6;
}

.text-summary-row {
  margin-left: 1.5em !important;
}

.transaction-summary {
  /* padding: 1em; */
  max-width: 100vw !important;
  border-style: solid;
  border-width: 1px;
  border-color: #ab823c;
}

.summary-row {
  background-color: #fff1e9;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full height of the viewport */
  background-image: url("@/assets/images/login_bg.png"); /* Background image */
  background-size: cover; /* Ensure the background image covers the entire viewport */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Avoid tiling */
}

.login-card {
  max-width: 400px; /* Limit the width of the card */
  width: 100%;
  box-shadow: 0px 0px 50px 20px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
  border-radius: 8px; /* Rounded corners */
}

.slip-card {
  background-color: #fff2e9;
  padding: 1em;
  min-height: 100%;
}

.order-box {
  border: 2px solid;
  border-color: #7fa2a3;
  border-radius: 2em;
}

.slip-table thead th {
  background-color: #f1e5db;
  font-weight: bold;
  text-transform: uppercase;
}

.slip-table td {
  padding: 0.7em !important;
}

.order-row {
  background-color: #fffbf4 !important;
}

.order-header {
  background-color: #ead7cc !important;
  color: #0c0c0c;
}

.order-footer {
  background-color: #e3f1ff !important;
}

.order-container {
  background-color: #fff2e9;
  margin-bottom: 1em;
}

.slip-container {
  padding: 2em !important;
}

.print-left-container {
  padding: 0 !important;
  background-color: #ffe0cd;
  overflow-y: auto;
}

.print-right-container {
  padding: 0 !important;
  background-color: #edd0bd;
  overflow-y: auto;
}

.preview-card {
  background-color: #fff2e9;
  padding: 1em;
  /* margin: 1em; */
}

.preview {
  background-color: #ffe0cd;
  height: 100%; /* Full height */
  min-height: calc(100vh - 7.5em) !important;
}

.preview-left-container {
  background-color: #ffe0cd;
}

.preview-right-container {
  background-color: #edd0bd;
}

.tag-print-container {
  background-color: #edd0bd;
  padding: 16px;
}

.tag-print-paper {
  width: 10cm;
  height: 27.5cm;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tag-content {
  padding: 16px;
  text-align: center;
}

.tag-row {
  flex: 1; /* Makes all rows equal height */
  border: 1px solid black; /* Black border for each container */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px; /* Adjust font size as needed */
}

.contact-persons-container {
  background-color: #eac7b1;
}

.addresses-container {
  background-color: #eac7b1;
}

.show-list-tab {
  background-color: #ffede2;
}

.dialog-header {
  background-color: #46717d;
  color: white;
  padding: 0.8em 1.5em;
}

.dialog-body {
  background-color: #dde4e6;
}

.dialog-inputs {
  /* background-color: white; */
  /* margin-bottom: 0.5em; */
  /* border-radius: 0.5em; */
}

.q-field__inner {
  background-color: white;
  border-radius: 0.5em;
}

.q-field__bottom {
  padding-top: 5px;
}

.outline-btn {
  background-color: #d6eef3 !important;
  font-weight: bold;
}

.text-large {
  font-size: 1.2em;
}

.others-input {
  margin-top: 0.2em;
  margin-bottom: 0.5em;
  margin-left: 0.2em;
}

.trash-icon {
  padding: 0 !important;
}

.styled-camera {
  width: 100%; /* Adjust as per your layout */
  height: 300px; /* Fixed height */
  object-fit: cover; /* Ensures the aspect ratio is maintained */
  border: 1px solid #ccc; /* Optional: Adds a border */
}

.payment-btn {
  height: 6em;
  width: 100%;
}

.payment-btn-txt {
  font-size: 1.3em;
  font-weight: bold;
}

.status-done {
  color: green;
}

.status-to-print {
  color: red;
}

.editable-field {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  text-align: center;
  font-size: inherit;
}
.editable-field:focus {
  border-bottom: 1px solid #000;
}

.showhidetab {
  background-color: #dcbaa5;
}

.all-simple-borders {
  border-style: solid;
  border-width: 1px;
}

.tag-borders {
  border-style: solid;
  border-width: 1px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.tags-view-container {
  background-color: #ffe0cd;
  height: 100%; /* Full height */
  min-height: calc(100vh - 7.5em) !important;
  padding: 0 !important;
}

/* .tag-card {
  width: 100%;
  padding: 10px;
} */

.tag-card-container {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  background: white;
  padding: 0.5in;
}

.tag-card {
  /* width: 210mm; */
  /* height: 297mm; */
  /* min-width: 210mm;
  min-height: 297mm; */
  display: flex;
  flex-direction: column;
  /* padding: 0.5in; */
  /* overflow-y: auto; */
  width: 184mm; /* a4 width - 13mm + 13mm*/
  height: auto;
  page-break-before: avoid; /* Prevents empty pages */
  page-break-inside: avoid; /* Avoids content breaking */
}

.tag-card-header {
  background-color: #e9e9e9;
}

.tag-card-footer {
  background-color: #e9e9e9;
  padding: 5px;
}

.tag-table-cell {
  padding: 5px;
    border-style: solid;
  border-width: 0 1px 0 0;
  border-color: rgb(214, 214, 214);
}
.tag-table-cell:last-child {
  border-right: none; /* Remove border for the last column */
}

.tag-table-row {
    border-style: solid;
  border-width: 0 0 1px 0;
  border-color: rgb(214, 214, 214);
}

.tag-table-row:last-child {
  border-bottom: none; /* Remove border for the last column */
}

.vertical-line-cell {
  border-style: solid;
  border-width: 0 1px 0 0;
  border-color: rgb(175, 175, 175);
}

.vertical-line-cell:last-child {
  border-right: none; /* Remove border for the last column */
}

.horizontal-line-cell {
  border-style: solid;
  border-width: 0 0 1px 0;
}

.horizontal-line-cell:last-child {
  border-bottom: none; /* Remove border for the last column */
}

.bottom-border {
  border-style: solid;
  border-width: 1px 0 0 0;
  margin-bottom: 1.5em;
  margin-top: 1.5em;
}

.all-border {
  border-style: solid;
  border-width: 1px;
  padding: 1em;
  margin: 0.5em;
  border-color: #b0774b;
  background-color: #fff1e6;
  border-radius: 1em;
}

.tags {
  width: 105mm;
  height: 0.5in;
  page-break-before: avoid; /* Prevents empty pages */
  page-break-inside: avoid; /* Avoids content breaking */
  align-items: center;
  border-radius: 0;
}

.tag-count {
  margin-right: 5px;
  margin-left: 5px;
  line-height: 1.25;
}

.tag-details {
  font-size: 15px;
  border: dotted black 1.5px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 2px;
  padding-right: 2px;
  line-height: 1.25;
}

.tag-pcs {
  border: 1px solid black;
  border-right: 0;
  border-radius: 30% 0 0 30%;
  height: 25px;
  width: 20px;
}

.tag-urgency {
  border: 1px solid black;
  border-left: 0;
  border-radius: 0 30% 30% 0;
  height: 25px;
  width: 20px;
}

.window-height {
  height: auto !important;
}

.order-banner {
  margin-bottom: 1em !important;
}

.dialog-label {
  margin-left: 5px;
  margin-bottom: 2px;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 0.9em;
}

.dialog-asterisk {
  color: red;
  font-weight: 600;
  font-size: 1.2em;
  margin-left: 5px;
}

.transactions-history,
.customers-management,
.orders-history,
.tags-management,
.invoices-page,
.items-management {
  padding: 2em !important;
  background-color: #ffe0cd;
}

.logistics-management {
  padding: 2em !important;
}

.full-height {
  height: 100% !important;
}

.input-dialog {
  /* max-width: 50rem !important; */
  min-width: 50rem !important;
}

.delete-dialog {
  max-width: 40rem !important;
  min-width: 40rem !important;
}

.dialog-button {
  min-width: 4em;
  padding-right: 10px !important;
  padding-left: 10px !important;
}

.line-height-1 {
  line-height: 1.2;
}

.dashed-separator {
  border-top: 1.5px dashed #999 !important;
}

.plain-border {
  border: 1px solid #000 !important;
}

.phone-link {
  text-decoration: underline; /* why: affordance that it's interactive */
  cursor: pointer;
  user-select: none;
  color: #7600ca;
}
.email-link {
  text-decoration: underline; /* why: affordance that it's interactive */
  cursor: pointer;
  user-select: none;
  color: #007b79;
}

.menu-header {
  background: #e5e5e5;
  font-weight: bold;
  text-transform: uppercase;
  color: #555;
  padding-top: 10px;
  padding-bottom: 10px;
}
.submenu-item {
  padding-top: 10px;
  padding-bottom: 10px;
}
.submenu-active:hover {
  background-color: #ddf1f6 !important; /* Quasar yellow-5 */
  border-radius: 4px;
  font-weight: bold;
}
.submenu-item:hover {
  background-color: #ddf1f6 !important; /* Quasar yellow-5 */
  cursor: pointer;
}
.submenu-item.submenu-active {
  border-right: 3px solid var(--q-primary);
  color: var(--q-primary);
  font-weight: 600; /* optional, makes active text bolder */
  background-color: rgba(0, 0, 0, 0.04); /* optional subtle highlight */
}

.submenu-item.submenu-active .q-icon {
  color: var(--q-primary);
}

.submenu-disabled {
  color: #a5a5a5;
}

.under-dev {
  font-size: 12px;
  font-style: italic;
  color: #b0b0b0;
}

.hover-drawer {
  transition: width 0.25s ease-in-out; /* smooth expand/collapse */
}

.service-prices {
  /* border: 1.5px solid #b8947e; */
  background-color: #dddddd;
}

.price-border {
  border: 2px solid #1c768f;
}

.page-title-header {
  font-size: 2.5rem;
  background-color: #ffecde;
  /* border: 3px solid #e1c4b0; */
  border-width: 5px;
  color: #005972;
  /* border-radius: 100px; */
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-weight: 500;
}

.page-1-container {
  /* padding: 2rem !important; */
  background-color: #ffe0cd;
}

.page-2-container {
  /* padding: 2rem !important; */
  background-color: #f3cfb8;
}

.subheadline {
  padding: 0.5rem 2rem !important;
  background-color: #e6fbff;
  border-radius: 100px;
  margin-bottom: 1rem;
}

.customer-element-tabs {
  background-color: #fff1e6;
}


.customer-element-panels {
  background-color: #fff1e6;
}

.brand-logo {
  height: 50px;
  object-fit: contain;
}

/* Chrome, Edge, Safari */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
