:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #0c0c0c;
  background-color: #f2f2f2;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  min-width: 100vw !important;
  max-width: 100vw !important;
  min-height: 100vh !important;
  max-height: 100vh !important;
  margin: 0;
}

/* font */
@font-face {
  font-family: font;
  src: url(@/assets/fonts/font.ttf);
}

.my-font {
  font-family: "font";
}
/* end of font */

.q-toolbar {
  min-height: 2em !important;
}

/* container */
.full-container {
  background-color: #f6d4bf;
  height: 100%; /* Full height */
  max-height: calc(100vh - 2.5em) !important;
  min-height: calc(100vh - 2.5em) !important;
  padding: 0 !important;
  overflow-y: auto;
}

.left-container,
.right-container {
  max-height: calc(100vh - 7.5em) !important;
  min-height: calc(100vh - 7.5em) !important;
  padding: 0 !important;
}

.main-container {
  background-color: #ffe0cd;
  height: 100%; /* Full height */
  max-height: calc(100vh - 7.5em) !important;
  min-height: calc(100vh - 7.5em) !important;
  padding: 0 !important;
}

.left-container {
  background-color: #ffe0cd;
  display: flex;
  flex-direction: column; /* Stack category and item container vertically */
  height: 100%; /* Full height */
}

.right-container {
  background-color: #edd0bd;
  min-height: 100%;
}

.transactions-tab .right-container {
  padding: 2em !important;
  overflow-y: auto;
}

.instructions-tab .right-container, .instructions-tab .left-container {
  padding: 1em !important;
}
/* end of containers */

/* category container */
.category-container {
  padding: 1em 1em 1em 1em !important;
  flex-shrink: 0;
}

.cat-btn {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  background-color: #eab99a;
  color: #1d0b00;
  border: 1.5px solid #b8947e;
}

.category-stepper .q-stepper__header {
  height: 5em;
}

/* .category-stepper .cat-step .q-ripple {
  height: auto !important;
} */

.category-stepper .q-stepper__tab {
  padding: 0.5em !important;
}

.category-stepper .q-stepper__step-inner {
  padding: 0 !important;
}

/* end of category container */

/* search container */
.q-field__append.q-field__marginal.row.no-wrap.items-center {
  height: auto;
}

.search-container {
  padding: 0 0 0 0 !important;
  display: flex;
  justify-content: flex-end;
}

.search-input {
  background-color: #ffffff;
}

.date-input {
  background-color: #ffffff;
}
/* end of search container */

.item-container {
  padding: 0 1em 1em 1em !important;
  background-color: #e6bba0 !important;
  overflow-y: auto; /* Enable vertical scrolling */
  height: 100%;
}

.individual-item .item-btn {
  min-height: 6em !important;
}

.item-name {
  line-height: 1.5em;
}

/* item dialog */
.item-dialog {
  min-width: 90vw !important;
  max-width: 90vw !important;
  min-height: 90vh !important;
  max-height: 90vh !important;
}

.item-toolbar {
  background-color: #c09f8b;
  height: 3em;
}

.item-counter-buttons {
  max-width: 1em !important;
  background-color: #c09f8b;
  border-radius: 5px;
}

.item-counter-input {
  width: 4em;
  background-color: #f2f2f2;
  border-radius: 5px;
  text-align: center;
}

.left-item-dialog {
  background-color: #ffe3d2;
  max-height: 85vh;
  overflow-y: auto;
  padding: 1em;
}

.right-item-dialog {
  background-color: #edd0bd;
  max-height: 85vh;
  overflow-y: auto;
  padding: 1em;
}

.item-container-dialog {
  padding: 0;
}

.dialog-close {
  padding-bottom: .5em;
}

/* size */
.size-input {
  width: 4em;
}

/* transaction table */
.transaction-table {
  background-color: #ffe3d2;
  margin-top: 1em;
}

.row-col-header {
  background-color: #c09f8b;
  color: #ffffff;
  /* padding-top: 0.5em;
  padding-bottom: 0.5em; */
  font-weight: 600;
  text-transform: uppercase;
}

.row-col-footer {
  background-color: #d5b5a1;
}

.row-col-body {
  min-height: 1em;
}

.row-col-row {
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #c09f8b;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.col.bordered {
  border-right: 1px solid #ddd;
  border-color: #c09f8b;
  padding: 8px;
}

.col.bordered:last-child {
  border-right: none; /* Remove border for the last column */
}

mark {
  background-color: #c58d6b;
  color: black;
}

/* instruction card */
.card1, .card2 {
  background-color: #fff2e9;
  padding: 1em;
}

.card3, .card4 {
  background-color: #ffe7d8;
  padding: 1em;
}

.instructions-desc {
  min-height: 5em !important;
}

textarea {
  resize: none;
}

.instructions-tab .left-container, .instructions-tab .right-container {
  overflow-y: auto;
}

.summary-table {
  width: 100vw;
}

.summary-card {
  background-color: #fff2e9;
  padding: 1em;
  margin: 1em;
  min-height: 100%;
}

.summary-table {
  border-style: solid;
  border-width: 1em;
  border-color: #edd0bd;
}

.review-tab{
  background-color: #ffe0cd;
  min-height: calc(100vh - 7.5em) !important;
  padding: 1em !important;
}

/* customer tab */

.customer-tab .right-container, .customer-tab .left-container {
  overflow-y: auto;
  padding: 2em !important;
}
.customer-header {
  font-weight: bold;
  background-color: #dcb89c;
  padding: 1em;
}
.customer-row {
  padding: 1em;
  border-bottom: 1px solid #dbb79c;
  cursor: pointer;
}
.customer-row:hover {
  background-color: #fbdec7;
}

.customer-list {
  background-color: #fff1e6;
}

.customer-card {
  background-color: #fff1e6;
}
.q-separator {
  background-color: #dbb79c;
}

.transactions-history, .customers-management {
  padding: 2em !important;
}

.contact-persons-management {
  padding: 2em !important;
  min-height: 100vh !important;
}

.row-col-table {
  background-color: #ffe9db;
}

.search-transactions {
width: 25em;
}

.text-link {
  color: #007bff;
  cursor: pointer;
  text-decoration: underline;
}


.text-summary {
  text-decoration: underline;
  font-weight: bold;
  padding-left: 0.5em;
}

.summary-card-header {
  margin: 1em;
  padding: 1em;
  background-color: #ebccb9;
}

.text-summary-row {
  margin-left: 1.5em !important;
}

.transaction-summary {
  padding: 1em;
  max-width: 100vw !important;
}

.summary-row {
  background-color: #ffebde;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full height of the viewport */
  background-image: url("@/assets/images/login_bg.png"); /* Background image */
  background-size: cover; /* Ensure the background image covers the entire viewport */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Avoid tiling */
}

.login-card {
  max-width: 400px; /* Limit the width of the card */
  width: 100%;
  box-shadow: 0px 0px 50px 20px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
  border-radius: 8px; /* Rounded corners */
}

.slip-card {
  background-color: #f3f3f3;
  padding: 1em;
  margin: 0 1em 1em 1em;
  min-height: 100%;
}

.order-box {
  border: 2px solid;
  border-color: #7fa2a3;
  padding: 0.5em;
  border-radius: 2em;
}

.text-slip-row {
  margin-left: 1em !important;
}

.slip-table thead th {
  background-color: #f1e5db;
  font-weight: bold;
  text-transform: uppercase;
}

.slip-table td {
padding: 0.7em !important;
}

.order-row {
  background-color: #fff4ed !important;
}

.order-header {
  background-color: #ead7cc !important;
  color: #0c0c0c;
}

.order-footer {
  background-color: #eff4f9 !important;
}

.order-container {
  max-width: 800px;
  margin: 0 auto;
}

.slip-container {
  padding: 2em !important;
}

.print-left-container{
  padding: 0 !important;
  background-color: #ffe0cd;
  overflow-y: auto;
}

.print-right-container {
  padding: 0 !important;
  background-color: #edd0bd;
  overflow-y: auto;
}

.preview-card {
  background-color: #fff2e9;
  padding: 1em;
  margin: 1em;
}

.preview {
  background-color: #ffe0cd;
  height: 100%; /* Full height */
  min-height: calc(100vh - 7.5em) !important;
  padding: 0 !important;
}

.preview-left-container{
  padding: 1em !important;
  background-color: #ffe0cd;
}

.preview-right-container {
  padding: 0 !important;
  background-color: #edd0bd;
}

.tag-print-container {
  background-color: #edd0bd;
  padding: 16px;
}

.tag-print-paper {
  width: 10cm;
  height: 27.5cm;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tag-content {
  padding: 16px;
  text-align: center;
}

.tag-row {
  flex: 1; /* Makes all rows equal height */
  border: 1px solid black; /* Black border for each container */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px; /* Adjust font size as needed */
}

.contact-persons-container {
  background-color: #eac7b1;
}

.addresses-container {
  background-color: #eac7b1;
}

.show-list-tab {
  background-color: #ffede2;
}

.dialog-header {
  background-color: #46717d;
  color: white;
  padding: 0.8em 1.5em;
}

.dialog-body {
  background-color: #dde4e6;
}

.dialog-inputs {
  background-color: white;
  margin-bottom: 0.5em;
  border-radius: 0.5em;
}

.outline-btn {
  background-color: #d6eef3 !important;
  font-weight: bold;
}

.text-large {
  font-size: 1.2em;
}

.others-input {
  margin-top: 0.2em;
  margin-bottom: 0.5em;
  margin-left: 0.2em;
}

.trash-icon {
  padding: 0 !important;
}

.styled-camera {
  width: 100%; /* Adjust as per your layout */
  height: 300px; /* Fixed height */
  object-fit: cover; /* Ensures the aspect ratio is maintained */
  border: 1px solid #ccc; /* Optional: Adds a border */
}

.payment-btn {
  height: 6em;
  width: 100%;
}

.payment-btn-txt {
font-size: 1.3em;
font-weight: bold;
}

.status-done {
  color: green;
  font-weight: bold;
  text-transform: uppercase;
}

.status-to-print {
  color: red;
  font-weight: bold;
  text-transform: uppercase;
}

.editable-field {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  text-align: center;
  font-size: inherit;
}
.editable-field:focus {
  border-bottom: 1px solid #000;
}

.showhidetab {
  background-color: #dcbaa5;
}

.tag-borders {
  border-style: solid; 
  border-width: 1px;
}

.tags-view-container {
  background-color: #ffe0cd;
  height: 100%; /* Full height */
  min-height: calc(100vh - 7.5em) !important;
  padding: 0 !important;
}

.tags-left-container{
  padding: 1em !important;
  background-color: #ffe0cd;
}

.tags-right-container {
  padding: 0 !important;
  background-color: #edd0bd;
}

.tag-card {
  width: 100%;
  padding: 10px;
}

.tag-card-cell {
  border-style: solid; 
  border-width: 0.5px;
  padding: 5px;
}

.bottom-border {
  border-style: solid;
  border-width: 1px 0 0 0;
  margin-bottom: 1.5em;
  margin-top: 1.5em;
}